# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
CMakePresets.json
CMakeUserPresets.json
out/
build/
CMakeLists.txt.user
CMakeLists.txt.user
.vs/CMake Overview
.vs/cmake.db
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/3DViewner/v16/.suo
.vs/3DViewner/v16/Browse.VC.db
.vs/3DViewner/v16/Browse.VC.db-shm
.vs/3DViewner/v16/Browse.VC.db-wal
.vs/3DViewner/v16/Browse.VC.opendb
.vs/3DViewner/v16/ipch/AutoPCH/1942022cce9a1073/APPWINDOW.ipch
.vs/3DViewner/v16/ipch/AutoPCH/77477cbfc0012df5/QT3DVIEW.ipch
.vs/3DViewner/v16/ipch/AutoPCH/8abce0c8cb0fc2bb/MAIN.ipch
